.sign__container.recovery__container {
   position: relative;
   height: 40%;
}

.recovery-step {
   position: absolute;
   left: 0;

   text-align: center;

   padding: 0% 6%;

   width: 100%;

   opacity: 0;
   pointer-events: none;
}

.recovery-step.recovery-email-step {
   display: flex;
   flex-direction: column;

   margin-top: 2%;
}

.recovery-step.recovery-text-step {
   top: 44%;
   font-weight: 600;

   width: 80%;

   padding: 4% 0%;
   margin: 0% 10%;
}

.recovery-step.active {
   animation: var(--animation__show) 0.5s 1;
   animation-fill-mode: forwards;
   pointer-events: all;
}

.recovery-step.disactive {
   animation: var(--animation__hide) 0.5s 1;
   animation-fill-mode: forwards;
   pointer-events: none;
}

.code__input {
   display: flex;
   gap: 4%;

   margin-bottom: 5%;

   justify-content: center;
}

.code__field {
   background-color: #4c2f7c2c;

   width: 2.8rem;

   padding: 2%;
   padding-bottom: 3%;

   box-shadow: 0 0 10px 3px var(--container__shadow__color);

   border-radius: 10px;

   font-size: 30px;

   text-align: center;
   caret-color: transparent;

   transition: 0.2s;
}

.code__field:focus {
   scale: 1.1;
}

.recovery-link-box {
   width: 100%;

   text-align: start;
}
